#header {
display: flex;
width: 100%;
height: 100px;
justify-content: space-between;
align-items: center;
padding: 0 15px;
z-index: 10;

}
nav {
  display: block;
  z-index: 20;
}

.site-title {
  margin-left: 10px;
  color: blue;
}

.list {
  list-style: none;
  display: inline-block;
  padding: 10px;
  z-index: 20;
  font-weight: bold;
}

.relative {
  position: relative;
  top: 400px;
  right: 120px;
  z-index: 5;
}

.blue-box {
  width: 1000px;
  height: 180px;
  background-color: rgb(0, 99, 248);
}

/* picture */
.absolute {
  position: absolute;
  margin-left: 700px;
  bottom: 90px;
  z-index: 10;
}

img {
  width: 100%;
  top: 50%;

}

.text {
  font-size: 60px;
  margin-left: 10px;
  margin-top: 160px;
}
